* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-color: #fc2678;
  --bg-color: #402f27;
  --product-bgcolor: #f2f2f3;
}

body {
  background-color: var(--product-bgcolor);
}

.cart-page {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cart-page-title {
  font-size: 1.5rem;
}

.cart-page-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.cart-product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  box-shadow: 0px 2px 3px 0 rgb(0 0 0 / 10%);
  width: 90%;
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
  width: 20rem;
}

.cart-product-name {
  word-wrap: break-word;
  font-size: 1.2rem;
}

.lastprice {
  text-decoration: line-through;
  margin-left: 1rem;
}

.cart-remove-btn {
  background-color: var(--pink-color);
}

.place-order {
  background-color: var(--bg-color);
}

.cart-wishlist-btn {
  border: 1px solid var(--bg-color);
  background: var(--white);
  color: var(--bg-color);
}

.cart-wishlist-btn:hover {
  background-color: var(--bg-color);
  color: var(--white);
}

.cart-product-img {
  padding: 1.5rem 1rem 1.5rem 1.5rem;
  object-fit: cover;
}

.cart-product-off {
  color: var(--bg-color);
  font-weight: bold;
}

.cart-product-btn {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid var(--bg-color);
  cursor: pointer;
  background-color: var(--white);
}

.cart-product-btn:hover {
  background-color: var(--bg-color);
  color: var(--white);
}

.flex {
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.cart-product-number {
  border: 1px solid black;
  padding: 5px;
}

.price-details-card {
  background-color: var(--white);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  width: 100%;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: var(--pink-color);
  color: var(--white);
  padding: 1rem;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  font-size: 1.1rem;
}

.footer-icon {
  color: var(--bg-color);
}

.footer-social-icon {
  color: var(--white);
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.nav-link,
.nav-link:hover {
  color: var(--bg-color);
}

.active {
  color: var(--pink-color);
}

.address {
  padding: 0.6rem;
  background-color: var(--white);
  margin: 0 0 1rem 0;
  width: 90%;
  display: flex;
  align-items: flex-start;
}

.address-title {
  font-size: 1rem;
  font-weight: bold;
}

.detail-address {
  font-size: 1rem;
}

.click-btn {
  margin-left: auto;
  padding: 0.1rem 0.7rem;
  color: var(--pink-color);
  border-color: var(--pink-color);
  background: var(--white);
}

.click-btn:hover {
  background: var(--pink-color);
  color: var(--white);
}

.address-sec {
  width: 70%;
}

.modal{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.modal-content{
  background-color: var(--product-bgcolor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: auto;
  border-radius: 5px;
}

.input{
  width: 20rem;
  margin: 0.5rem 0;
}

.input-address{
  height: 7rem;
  width: 20rem;
}

.name-label{
  font-size: 1.1rem;
  color: var(--bg-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.cancel-btn{
  background-color: var(--product-bgcolor);
  color: var(--bg-color);
  border-radius: 5xp;
  border: 1px solid var(--bg-color);
}

.save-btn{
  background-color: var(--pink-color);
  border-radius: 5px;
}

@media only screen and (max-width: 48rem) {
  .cart-page-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-product-card {
    flex-direction: column;
  }
  .hide-icon {
    display: none;
  }
  .modal-content{
    width: 70%;
  }
  .input{
    width: 10rem;
    height: 1rem;
  }
  .input-address{
    width: 10rem;
    height: 5rem;
  }
  .name-label{
    font-size: 13px;
  }
  .btn{
    padding: 2px 10px;
  }

}
