:root {
  --pink-color: #fc2678;
  --bg-color: #402f27;
  --border-color: #767676;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  padding: 0;
}

.nav-link,
.nav-link:hover {
  color: var(--bg-color);
}

.active {
  color: var(--pink-color);
}

.banner {
  background-image: url("/assets/banner.png");
  width: 100%;
  height: 18rem;
  object-fit: cover;
  margin-top: 1rem;
}

.image-btn {
  margin: 13rem 0 0 8rem;
  background-color: var(--pink-color);
  border-radius: 5px;
}

.categories,
.onlyat-section {
  margin: 6rem 4rem 4rem 4rem;
}

.top-brands {
  margin-bottom: 2rem;
}

.categories-title,
.onlyat-section-title,
.top-brands-title {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 4rem;
  color: var(--bg-color);
}

.onlyat-section-title,
.top-brands-title {
  font-size: 2rem;
}

.category-list,
.onlyat-list,
.top-brands-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category-list-item-image {
  width: 100%;
  height: 10rem;
  object-fit: fill;
}

.category-list-item,
.top-brands-item {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.top-brands-item {
  padding: 0;
}

.onlyat-item {
  margin: 1rem;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}

.category-list-item:hover {
  background-color: var(--gray);
}

.category-list-item-name {
  font-weight: 500;
  margin: 10px;
  color: var(--bg-color);
  font-size: 1.5rem;
}

.onlyat-section {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: var(--pink-color);
  color: var(--white);
  padding: 1rem;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  font-size: 1.1rem;
}

.footer-icon {
  color: var(--bg-color);
}

.footer-social-icon {
  color: var(--white);
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.mainMenu {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
}

.openMenu {
  margin: 0 20px;
  font-size: 1.7rem;
  display: none;
  cursor: pointer;
}

.closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 43em) {
  .category-list {
    display: flex;
    flex-direction: column;
  }
  .onlyat-list,
  .top-brands-list {
    flex-direction: column;
  }
  .banner {
    width: 100%;
  }
  .small-fontsize {
    font-size: 1rem;
  }
  
.mainMenu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  background: var(--white);
  transition: top 1s ease;
  display: none;
}
.closeMenu {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.mainMenu {
  /* display: flex; */
  position: absolute;
  right: 20px;
}
.openMenu {
  display: block;
}
.mainMenu a {
  background: none;
  color: var(--bg-color);
  font-size: 1.6rem;
}
.searchbar {
  display: flex;
  margin: 1rem 4.5rem 0 2rem;
}
.hide-icon {
  display: none;
}
.small-fontsize {
  font-size: 1rem;
}
.nav-icon-link .hide-icon {
  display: none;
}
.search-input{
  padding-right: 1rem;
}
  
}
